<div class="pokemon-list container">
    <mat-grid-list class="pokedex-list" cols="4">
        <mat-grid-tile class="pokemon-container" *ngFor="let thePokemon of pokemonList">
            <app-pokemon-card [pokemon]="thePokemon"></app-pokemon-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
