<header class="site-header">
    <div>
        <h1>PokeManager</h1>
        <div class="navbar">
            <a class="button" routerLink="/trainer">Trainer page</a>
            <p>||</p>
            <a class="button" routerLink="/pokedex">Pokedex</a>
        </div>
    </div>
    
</header>