<mat-card class="pokemon-card">
    <mat-card-content [routerLink]="'/details/:' + pokemonId">
        <mat-card-title>{{pokemon.name}}</mat-card-title>
        <img mat-card-md-image [src]="pictureUrl">
    </mat-card-content>
    
    
</mat-card>