<div class="landing-page-content">

    <form class="trainer-name-form">
        <mat-form-field class="trainer-name-field">
            <mat-label for="name">Trainer name</mat-label>
            <input type="text" name="name" matInput value="" [(ngModel)]="trainer.name">
        </mat-form-field>
        
    </form>
    <button class="submit-button" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>