.landing-page-content {
    margin: 30px 50px;
}

.trainer-name-form {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.submit-button {
    display: block;
    width: 25%;
    margin: 0 auto;
}