<div class="move-list-container">
    <h4>Learnable moves:</h4>
    <ul class="move-list">
        <li class="move-item" *ngFor="let move of moves">
            <p class="move-name">{{move.move.name}}</p>
        </li>
    </ul>
</div>


