<div class="pokemon-profile-container">
    <div class="pokemon-name-img">
        <h1 class="pokemon-name">{{pokemon.name}}</h1>
        <img media="(min-width: 300px)" [src]="pokemon.sprites.front_default">
        <br>
        <button mat-raised-button color="primary" class="collect-button" (click)="collectPokemon()">Collect</button>
    </div>
    
    <ul class="type-list">
        <h2>Types:</h2>
        <li class="type-item" *ngFor="let type of pokemon.types">
            <h4>{{type.type.name}}</h4>
        </li>
    </ul>
    
    <ul class="stat-list">
        <h2>Stats:</h2>
        <li class="stat-item" *ngFor="let stat of pokemon.stats">
            <h5>{{stat.stat.name + ": " + stat.base_stat}}</h5>
        </li>
    </ul>

    <div class="other-details">
        <h3>Size: </h3>
        <p>Weight: {{pokemon.weight}}, Height: {{pokemon.height}}</p>
        <h3>Abilities: </h3>
        <ul class="ability-list">
            <li class="ability-item" *ngFor="let ability of pokemon.abilities">
                <p>{{ability.ability.name}}</p>
            </li>
        </ul>
        <h3>Base experience: {{pokemon.base_experience}}</h3>
    </div>
</div>

